@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 217 54% 11%;
    --foreground: 0 0% 100%;

    --card: 217 45% 16%;
    --card-foreground: 0 0% 100%;

    --popover: 217 45% 16%;
    --popover-foreground: 0 0% 100%;

    --primary: 197 100% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 45% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217 45% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 45 100% 51%;
    --accent-foreground: 217 54% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 45% 25%;
    --input: 217 45% 25%;
    --ring: 197 100% 48%;

    --radius: 1rem;

    --whatsapp: 142 70% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
